@import '../styles/Responsive.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    order: 1px solid red;
}
  
html {
    font-size: 62.5%;
    
    .App {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(48,49,52);

        @include media(pc) {
        }
    }
    
    .todo-container {
        height: 100%;
        width: 80%;
        margin: 2rem 0;
        align-self: center;

        display: grid;
        grid-template: auto / repeat(2, 1fr);
        gap: 2rem 2.2rem;

        @include media(mobile) {
            overflow-x: scroll;
        }
        @include media(pc) {
            //overflow: hidden;
            width: 85%;
            margin: 3rem 0;
            grid-template: auto / repeat(5, 1fr);
            gap: 2rem 1.5rem;
        }
    }
}