$red-H: rgb(247, 122, 6);
$red-M: rgb(217, 108, 6);
$red-L: rgb(179, 95, 17);

$green-H: rgb(216, 220, 10);
$green-M: rgb(189, 191, 9);
$green-L: rgb(153, 155, 18);

$blue-H: rgb(39, 171, 191);
$blue-M: rgb(34, 146, 164);
$blue-L: rgb(36, 123, 137);